@import url('https://fonts.googleapis.com/css2?family=Lato&family=MuseoModerno:wght@700&display=swap');


.ask-location{
position: fixed;
width: auto;
height: auto;
right: 0;
font-family: "Lato";
margin: auto;
background-color: white;
z-index: 9999;
overflow-x: hidden;
/* overflow-y: auto; */
padding: 20px;
box-shadow: 1px 1px 20px #333;
}


.ask-location input{
    border: 1px solid #000466;
    border-radius: 8px;
    font-size: 0.8em;
    padding: 10px;
    margin-bottom: 5px;
}

.crtlocbtn{
   /* width: 92%;*/
    width:300px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.location-search-input{
    width: 300px;
}

.ask-location{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
}

.ask-location button{
    color: white;
    background-color: #000466;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    margin-bottom: 30px;
}

.continue-labels label{
    cursor: pointer;
    font-family: "Lato";
    z-index: 1;
}

.continue-labels label:hover{
    cursor: pointer;
    color: #000466;
    
}



.suggestion-item{
    /* border: 0.3px solid #777;// */
    font-size: 0.8em;
    border-radius: 4px;
    /* margin-bottom: 10px; */
    padding: 10px;

}




.autocomplete-dropdown-container{
    max-width: 300px;
    /* margin:  30px 10px; */
    background-color: white;
    
    width: 100%;
    padding: 10px;
    z-index: 999;


}



