@import url('https://fonts.googleapis.com/css2?family=Lato&family=MuseoModerno:wght@700&display=swap');

.signup input{
  border: 1px solid #000466;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  font-family: "Lato";
 
}

.signup .header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.signup h2{
  color: #000466;
  text-decoration: underline;
  text-decoration-color: #FFC009;
  font-size: 2em;
  font-family: "MuseoModerno";
}

.mobile-verification button{
padding: 10px 20px;
color: white;
background-color: #000466;
border: none;
border-radius: 8px;
font-size: 0.9em;
width:100%;
font-family: "Lato";
max-width: 120px;

}

.signup h4{
  font-size: 1.5em;
  color: #000466;
  background-color: white;
  padding: 10px 0px;
  font-family: "MuseoModerno";
}



.customer-details-form{
  position: relative;
  top: 50px;
  width: 80%;
  font-family: "Lato";
  min-width: 250px;
}

.mobile-verification .otp-box{
  width: 40px;
  min-width: 40px;
  height: 40px;
  /* padding: 20px; */
  text-align: center;
  font-size: 18px;
  margin: 5px; 
  font-family: "Lato";
}


/* .OTP-verification {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap; 
}

.OTP-verification input{
  width: 40px;
  min-width: 40px;
  height: 40px;
  /* padding: 20px; */
 /* text-align: center;
  font-size: 18px;
  margin: 5px; */
/* } */



.signup a{
  font-size: 12px;
  font-family: "Lato";
  color: #000466;
}
.signup label{
  font-size: 12px;
  color: #000466;
  font-family: "Lato";
}

.new-customer input{
  color: #000466;
  width: 100%;
  padding: 5px;
  font-family: "Lato";
}


.address{
  font-family: "Lato";
  border: none;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
  padding: 20px;
  color: #000466;
  line-height: 0.7em;
  border: none;
  transition: box-shadow 0.4s ease-out;
  -webkit-transition: box-shadow 0.4s ease-out;
  -moz-transition: box-shadow 0.4s ease-out;
  -ms-transition: box-shadow 0.4s ease-out;
  -o-transition: box-shadow 0.4s ease-out;
}

.address:hover{
  box-shadow: 2px 2px 20px rgba(0,0,0,0.2);
  cursor: hand;
   cursor: pointer;
}





.address .edit{
  font-family: "Lato";
  color: white;
  background-color: #000466;
  border: 1px solid #000466;
  padding: 10px 20px;
  border-radius: 5px;
   display: flex;
  flex-direction: row; 
  justify-content: flex-end;
}

.address .cancel{
  font-family: "Lato";
  border: none;
  color: #E22A28;
  background-color: white !important;
  font-size: 1em;
}

.payment-method{
  width: 100%;
  /* position: fixed; */
}

.payment-method button{
  font-family: "Lato";
  display: block;
  width: 100%;
  padding: 5px;
  font-size: 20px;
  text-align: left;
  background-color: white;
  color: #000466;
  border: 1px solid #000466;
  pointer-events: none;
  border-top: none;
}

.payment-method ul:first-child{
  border-top: 1px solid #000466; 
  width: 100%;
}


.payment-method button:hover , button:active{
  background-color: #000466;
  color: white;
}


.new-address{
  font-family: "Lato";
  color: white;
  background-color: #000466;
  font-size: 18px;
  border: 1px solid #000466;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 1em;
}



.payment-method .proceed{
  width: auto;
  padding: 5px 20px;
  border-radius: 8px;
  font-family: "Lato";
  color: white;
  background-color: #000466;
  border: 1px solid #000466;
  font-size: 1.3em;
  pointer-events: all;
  
}

.payment-method img{
  margin : 0px 5px;
  height: 25px;
  width: 30px;
}

@media screen and (max-width:65em){
  
  .signup{
    padding: 30px;
    position: relative;
  }
  .payment-method .proceed{
    margin-bottom: 60px;
  }


  .payment-method img{
    height: 18px;
  }

  .payment-method button{
    font-size: 10px;
  }

  .customer-details-form{
    width: 100%;
    min-width: 250px;
  }

  .signup{
    position: relative;
  }
  
}