.signup input{
  border: 1px solid #000466;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
 
}
.signup h2{
  color: #000466;
  text-decoration: underline;
  text-decoration-color: yellow;
  font-size: 2em;
}

.mobile-verification input{
  width: 300px;
}

.OTP-verification {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}


.OTP-verification li input{
  width: 20px;
  font-size: 12px;
}

.new-customer input{
  color: #000466;
  /* opacity: 20%; */
  width: 300px;
  padding: 5px;
}

.adress{
  border: 2px solid yellow;
  padding: 10px;
  width: 300px;
  color: #000466;
}

.adress .edit{
  color: white;
  background-color: #000466;
  border: 1px solid #000466;
  padding: 0px 10px;
  border-radius: 5px;
}

.adress .cancel{
  border: none;
  color: #E22A28;
  background-color: white !important;
  font-size: 1em;
}

.payment-method button{
  width: 600px;
  padding: 5px;
  font-size: 24px;
  text-align: left;
  background-color: white;
  color: #000466;
  border: 1px solid #000466;
}

.payment-method .proceed{
  width: auto;
  padding: 5px 20px;
  color: white;
  background-color: #000466;
  border: 1px solid #000466;
  font-size: 1em;
}